<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Furnace</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/furnace.js" defer></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- google founts -->
    <link
      href="https://fonts.googleapis.com/css?family=Acme"
      rel="stylesheet"
    />
    <!-- bootstrap link -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- the following is the code for the image gallary -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img
              src="https://live.staticflickr.com/1238/567183047_8cf8a435a4_b.jpg"
              style="width:100%"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img
              src="http://media.safebee.com/assets/images/2015/4/furnace-fire.jpg.838x0_q67_crop-smart.jpg"
              style="width:100%"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtu3AxwMqlCLruB8uQxBwUekBtt_OQ9Sg1AnvPoFtzn7uTEA8z"
              style="width:100%"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- a well with the paragrph discribing the room -->
    <div class="container">
      <div class="well">
        <p>
          The moment you walk into this room you start to sweat as it is
          extremely hot. In the center of the room there is a large furnace with
          a fire going. The fire produces flames that come in bursts and at one
          point you think you can see a door behind the fire. You look around
          and see two other doors. Where do you go.
        </p>
      </div>
    </div>
    <!-- a grid to keep the buttons evenly spaced apart -->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <!-- collabsibal button -->
          <div class="container">
            <button
              type="button"
              class="btn btn-info"
              data-toggle="collapse"
              data-target="#demo"
            >
              Door 1
            </button>
            <div id="demo" class="collapse">
              <!-- grid conntainer to keep the hidden text within -->
              <div class="col-sm-4">
                <p id="background">
                  You walk up and see a wooden door with a window at the top.
                  Beside it is a touch screen keypad. On the touch screen is a
                  question “What shows hidden files in a raspberry pi?” Do
                  you try to answer.
                </p>
                <!-- yes and no button -->
                <button type="button" class="button buttons" onclick="door1()">
                  Yes
                </button>
                <button type="button" class="button buttons" onclick="exit()">
                  No
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <!-- collabsibal button -->
          <div class="container">
            <button
              type="button"
              class="btn btn-info"
              data-toggle="collapse"
              data-target="#demo2"
            >
              Door 2
            </button>
            <div id="demo2" class="collapse">
              <!-- grid conntainer to keep the hidden text within -->
              <div class="col-sm-4">
                <p id="background2">
                  You walk up and see a wooden door with a touch screen keypad
                  beside it. On the touch screen is a question “What command is
                  used to shutdown a raspberry pi?” Do you try to answer.
                </p>
                <!-- yes and no buttons -->
                <button type="button" class="button buttons" onclick="door2()">
                  Yes
                </button>
                <button type="button" class="button buttons" onclick="exit()">
                  No
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <!-- collabsibal button -->
          <div class="container">
            <button
              type="button"
              class="btn btn-info"
              data-toggle="collapse"
              data-target="#demo3"
            >
              Door 3
            </button>
            <div id="demo3" class="collapse">
              <!-- grid conntainer to keep the hidden text within -->
              <div class="col-sm-4">
                <p id="background3">
                  You walk up and see a white wooden door with a touch screen
                  keypad beside it. On the touch screen is a question “What are
                  the three code languages we used?” Do you try to answer.
                </p>
                <!-- yes and no button-->
                <button type="button" class="button buttons" onclick="door3()">
                  Yes
                </button>
                <button type="button" class="button buttons" onclick="exit()">
                  No
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
