<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lab</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/lab.js" defer></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- google founts -->
    <link
      href="https://fonts.googleapis.com/css?family=Acme"
      rel="stylesheet"
    />
    <!-- bootstrap link -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- the following is the code for the image gallary -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img
              src="http://www.alliedhightech.com/Themes/Allied/Content/lab/Lab-Left-2008.jpg"
              style="width:100%"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img
              src="https://i.pinimg.com/originals/b7/86/20/b78620a9a4c3399bdc466715b0519474.jpg"
              style="width:100%"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img
              src="https://i.pinimg.com/originals/d2/fc/73/d2fc73cf850c1dc6150d3a1d0448597e.jpg"
              style="width:100%"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- a well with the paragrph discribing the room -->
    <div class="container">
      <div class="well">
        <p>
          This room feels like a nightmare! There are electric tools and
          supplies everywhere. Along the wall you can see tables that look like
          you could fit in holding a murky green substance. This room seems to
          be cluttered with a lot of stuff. You move toward the desk and try to
          grab one of the items. When you try to pick it up it doesn't move.
          Even though there seems to be stuff in this room it is all glued down
          and cannot be moved. The only way you think you can get out is to keep
          going through the doors. There are three doors leading out of this
          room.
        </p>
      </div>
    </div>
    <!-- a grid to keep the buttons evenly spaced apart -->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <!-- collabsibal button -->
          <div class="container">
            <button
              type="button"
              class="btn btn-info"
              data-toggle="collapse"
              data-target="#demo"
            >
              Door 1
            </button>
            <div id="demo" class="collapse">
              <!-- grid conntainer to keep the hidden text within -->
              <div class="col-sm-4">
                <p id="background">
                  You walk up and see a wooden door with a window at the top,
                  beside it is a touch screen keypad. On the touch screen is a
                  question “What shows hidden files in a raspberry pi?” Do
                  you try to answer.
                </p>
                <!-- yes and no button -->
                <button type="button" class="button buttons" onclick="door1()">
                  Yes
                </button>
                <button type="button" class="button buttons" onclick="exit()">
                  No
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <!-- collabsibal button -->
          <div class="container">
            <button
              type="button"
              class="btn btn-info"
              data-toggle="collapse"
              data-target="#demo2"
            >
              Door 2
            </button>
            <div id="demo2" class="collapse">
              <!-- grid conntainer to keep the hidden text within -->
              <div class="col-sm-4">
                <p id="background2">
                  You walk up and see a wooden door with a touch screen keypad
                  beside it. On the touch screen is a question “What command is
                  used to shutdown a raspberry pi?” Do you try to answer.
                </p>
                <!-- yes and no buttons -->
                <button type="button" class="button buttons" onclick="door2()">
                  Yes
                </button>
                <button type="button" class="button buttons" onclick="exit()">
                  No
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <!-- collabsibal button -->
          <div class="container">
            <button
              type="button"
              class="btn btn-info"
              data-toggle="collapse"
              data-target="#demo3"
            >
              Door 3
            </button>
            <div id="demo3" class="collapse">
              <!-- grid conntainer to keep the hidden text within -->
              <div class="col-sm-4">
                <p id="background3">
                  You walk up and see a white wooden door with a touch screen
                  keypad beside it. On the touch screen is a question “What does
                  API stand for?” Do you try to answer.
                </p>
                <!-- yes and no button-->
                <button type="button" class="button buttons" onclick="door3()">
                  Yes
                </button>
                <button type="button" class="button buttons" onclick="exit()">
                  No
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
